.adasd li {
    list-style: none;
    margin: 10px 10px;
    height: 20px;
}
.adasd a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.adasd {
    display: flex;
    flex-direction: column;

}