.adasd li {
    list-style: none;
    margin: 10px 10px;
    height: 20px;
}
.adasd button {
    color: black;
    border: none;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
}
.adasd {
    display: flex;
    flex-direction: column;

}